@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Start Gradient Move for the Button */
.gradient-move {
  background: linear-gradient(270deg, #f6d365, #fda085);
  background-size: 200% 200%;
  animation: gradientMove 2s ease infinite;
  -webkit-animation: gradientMove 2s ease infinite;
}

.gradient-move:hover {
  background: linear-gradient(270deg, #f6d365, #fda085);
  background-size: 200% 200%;
  animation: gradientMove 2s ease infinite;
  -webkit-animation: gradientMove 2s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* End Gradient Move for the Button */

/* Start Modal */
dialog {
  transition: opacity 0.5s, display 0.5s allow-discrete, transform 0.5s;
  opacity: 0;
  transform: scale(0.9);

  &[open] {
    opacity: 1;
    transform: scale(1);
  }
}

@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scale(0.9);
  }
}
/* End Modal */
